.git
.gitignore
.venv
env/
venv/
frontend/node_modules
frontend/dist
scratch/
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pt
data/raw/*.tar.gz
*.tar.gz
cifar-10-batches-py/
data/cifar-10-batches-py/
cifar_batch_test/
cifar_test.png
.vscode/
.idea/
.DS_Store
Thumbs.db
